name: CI/CD Demo

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
# Thêm bước để cập nhật thời gian deploy trong index.html
    - name: Set deploy time
      run: |
        DEPLOY_TIME=$(date "+%Y-%m-%d %H:%M:%S UTC")
        sed -i "s/{{DEPLOY_TIME}}/$DEPLOY_TIME/g" index.html

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: .
